*{
    margin: 0;
    padding: 0;
}

/* imported fonts */
.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.mohave-italic {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: italic;
}

body{
    background-color:rgb(54, 62, 70)
}
header {
    color: white;
    padding: 10px;
    /* font-family:  "Iceland", sans-serif; */
}

/* title */
#title_name{
    font-family: "Mohave", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#title_user{
    font-family: "Iceland", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
h1, h2 {
    margin: 0;
}
section {
    margin: 20px 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
a {
    color: #0078d4;
    text-decoration: none;
}
footer {
    text-align: center;
    margin-top: 20px;
}